
img {
    background-color: bisque;
    border-style: solid;
    width: 100px;
}

img:hover {
    border-color: red;
}

.clothes {
    background-color: darkcyan;
}

.food {
    background-color: darkseagreen;
}

.discount {
    border-radius: 20%;
    border-style: dotted;
}

.out-of-stock {
    border-radius: 50%;
}

.out-of-stock:hover {
    background-color: red;
}

