
img {
    background-color: bisque;
    border-style: solid;
    width: 100px;
}

img:hover {
    border-color: red;
}

.store-front {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}

.store-item {
    border-style: dotted;
}

.payment-methods {
    background-color: floralwhite;
    display: flex;
}

.payment-method {
    border-style: solid;
}

.payment-method-big {
    border-style: solid;
}

.clothes {
    background-color: darkcyan;
}

.food {
    background-color: darkseagreen;
}

.discount {
    border-radius: 20%;
    border-style: dotted;
}

.out-of-stock {
    border-radius: 50%;
}

.out-of-stock:hover {
    background-color: red;
}

